.number {
    padding: 5px 10px;
    border: 1px solid $color_gray_border;
    border-radius: $border_radius;
    background-color: $color_gray;
    user-select: none;
}

#randomBtn {
    padding: 0;
}

